@{
    ViewBag.Title = "Unavailable";
}

<h2>We are sorry but your specified date is unavailable.</h2>
<h3>Please Return Home And Retry Using A Different Date...</h3>
<h4>Thank you...</h4>

@Html.ActionLink("Home", "Index", "Home")
