@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to TravelsApp</h1>
    <p class="lead">Generate Quotes here...</p>
    <p><a href="/Quotes/Create" class="btn btn-primary btn-lg">Generate Quote &raquo;</a></p>
</div>